.sidebar .user-panel {
	width: 100%;
}
.sidebar .user-panel .image i {
	background: #fff;
	font-size: 2em;
	width: 32px;
	text-align: center;
}

.page-item.active .page-link{
	background: #17a2b8;
	border-color: #17a2b8!important;
}

.grid-view table thead:first-child > tr:first-child a{
	position: relative;
	display: block;
	padding: 0 16px 0 0;
}
.grid-view table thead:first-child > tr:first-child a:after,
.grid-view table thead:first-child > tr:first-child a.asc:after,
.grid-view table thead:first-child > tr:first-child a.desc:after{
	position: absolute;
	bottom: 0px;
	right: 8px;
	display: block;
	font-family: 'Font Awesome 5 Free';
	opacity: 0.7;
	color: #333;
}
.grid-view table thead:first-child > tr:first-child a:after {
	content: "\f0dc";
	opacity: 0.2;
}
.grid-view table thead:first-child > tr:first-child a.asc:after {
	content: "\f0dd";
}
.grid-view table thead:first-child > tr:first-child a.desc:after {
	content: "\f0de";
}

.form-group .help-block {
	color: #d9534f;
}
