<template>
  <div>
    <form @submit.prevent>
    <div class="form-group row">
      <div class="col-10">
        <input type="text" v-model="email" class="form-control" />
      </div>
      <div class="col-2">
        <button @click="checkEmail" class="btn btn-success btn-block">
          <span v-if="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span v-if="loading" class="sr-only">Loading...</span>
          Check Email
        </button>
      </div>
    </div>
    </form>

      <div class="alert alert-danger" v-for="(error, i) in errors" :key="i">
        {{ error }}
      </div>

      <div v-if="emailExist" :class="existClass" class="alert">{{ emailExistText }} <span class="label label-info">{{ currentEmail }}</span></div>
      <div v-if="emailValid" :class="validClass" class="alert">{{ emailValidText }} <span class="label label-info">{{ currentEmail }}</span></div>


  </div>
</template>
<script>
export default {
  props: ['lang'],
 data() {
   return {
     errors: [],
     translates: {
       'en-US': {
         'Email is required': 'Email is required!',
         'Email not valid': 'Email not valid!',
         'Email valid': 'Email valid:',
         'Email exist': 'Email exist:',
         'Email not exist': 'Email not exist:',
       },
       'ru-RU': {
         'Email is required': 'Укажите электронную почту!',
         'Email not valid': 'Укажите корректный адрес электронной почты!',
         'Email valid': 'Электронная почта валидна:',
         'Email exist': 'Электронная почта существует:',
         'Email not exist': 'Электронная почта не существует:',
       }
     },
     email: '',
     result: null,
     emailExist: false,
     existClass: null,
     validClass: null,
     emailExistText: '',
     emailValid: false,
     emailValidText: '',
     loading: false
   }
 },
  methods: {
    async checkEmail() {
      this.loading = true
      this.errors = [];
      if (!this.email) {
        this.errors.push(this.translates[this.lang]['Email is required']);
        return false;
      }
      else if (!this.validEmail(this.email)) {
        this.errors.push(this.translates[this.lang]['Email not valid']);
        return false;
      }

      try {
        this.result = await Vue.axios
            .post('/site/check-email', {
              email: this.email,
            });
      } catch(err) {
        console.log(err)
      }


        // this.email = ''
      this.loading = false
      this.currentEmail = this.result.data.email
      if (this.result.data.email_exist) {
        this.emailExist = true
        this.existClass = 'alert-success'
        this.emailExistText = this.translates[this.lang]['Email exist'];
      } else {
        this.emailExist = true
        this.emailExistText = this.translates[this.lang]['Email not exist'];
        this.existClass = 'alert-danger'
      }
      if (this.result.data.email_valid) {
        this.emailValid = true
        this.validClass = 'alert-success'
        this.emailValidText = this.translates[this.lang]['Email valid'];
      } else {
        this.emailValid = true
        this.emailValidText = this.translates[this.lang]['Email not valid'];
        this.validClass = 'alert-danger'
      }

    },

   validEmail(email) {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }

  }
};
</script>
<style scoped>

</style>
