<template>
  <div>
    <form @submit.prevent>
      <div class="form-group row">
        <div class="col-10">
          <input type="text" v-model.trim="email" class="form-control" />
        </div>
        <div class="col-2">
          <button @click="addElement" class="btn btn-success btn-block">
            <span v-if="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span v-if="loading" class="sr-only">Loading...</span>
            Check Email
          </button>
        </div>
        <div class="col-12 mt-4">
          <ul class="list-group"><li v-for="(elem, i) in elems" :key="i" class="list-group-item">{{ elem }} <a @click="remove(i)" class="btn btn-danger float-right"> Delete</a></li></ul>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { required, minLength, between } from 'vuelidate/lib/validators';
export default {
  data() {
    return {
      email: '',
      loading: false,
      elems: [],

    }
  },
  validations: {
     email: {
       required,
       minLength: minLength(4)
     }
  },
  methods: {
    addElement() {
      this.$v.$touch()
       console.log(this.$v.email)
      if (this.email) {
        this.elems.push(this.email)
        this.email = ''
      }
    },
    remove(i) {
      this.elems.splice(i, 1)
    }


  }
};


</script>
<style scoped>

</style>
